<section id="decks">
  <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-2">
    @for (deck of decks; track deck) {
      <igx-card>
        <igx-card-header>
          <h3 igxCardHeaderTitle>{{ deck.name }}</h3>
        </igx-card-header>

        <igx-card-content>
          <div class="flex justify-center">
            <img class="max-h-48" src="assets/pokemon-type-icons/icons/{{ deck.types.name }}.svg" alt="Bug Icon">
          </div>
        </igx-card-content>

        <igx-card-actions class="justify-center gap-2">
          <div class="show-card">
            <button (click)="clickDecks(deck, 'show', alertShow)" class="btn" igxButton="fab" family="material-symbols" igxRipple>
              <igx-icon>visibility</igx-icon>
            </button>
            <igx-dialog #alertShow [closeOnOutsideSelect]="true">
              <igx-dialog-title>
                <h3>Detalhar</h3>
              </igx-dialog-title>

              <div igxDialogActions>
                  <button igxButton (click)="alertShow.close()">Fechar</button>
                  <button igxButton (click)="clickDecks(deck, 'edit', alertShow)">Editar</button>
              </div>
          </igx-dialog>
          </div>
          <div class="edit-card">
            <button (click)="clickDecks(deck, 'edit')" class="btn" igxButton="fab" family="material-symbols" igxRipple>
              <igx-icon>edit</igx-icon>
            </button>
          </div>
          <div class="delete-card">
            <button (click)="alertDelete.open()" class="btn" igxButton="fab"  family="material-symbols" igxRipple>
              <igx-icon>delete</igx-icon>
            </button>
            <igx-dialog #alertDelete
                title="Alerta"
                message="Seu deck sera deletado!"
                leftButtonLabel="OK"
                (leftButtonSelect)="clickDecks(deck, 'delete', alertDelete)">
            </igx-dialog>
          </div>
        </igx-card-actions>
      </igx-card>
    }
  </div>
</section>
